.secaoReceitas {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    background-color: white;
    border-radius: 5px;
    font-family: var(--fontecorpo);
}
.tituloSecao {
    margin: 10px;
    padding-left: 50px;
    font-size: 2em;
}
.receitas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}