@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;0,6..96,800;1,6..96,400;1,6..96,600;1,6..96,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;0,6..96,800;1,6..96,400;1,6..96,600;1,6..96,800&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --fontetitulo: 'Bodoni Moda', serif;
    --fontecorpo: 'Open Sans', sans-serif;

    --cor01: #032854;
    --cor02: #1655A1;
    --cor03: #A16800;
    --cor04: #F0EAD6;
    --cor05: #040504;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor04);
}