.link-sobre {
    color: var(--cor02);
    font-weight: 600;
}

.link-sobre:visited {
    color: var(--cor02);
}
.link-sobre:hover {
    color: var(--cor03);
}
.link-sobre:active {
    text-shadow: -1.5px -1.5px 2px #dddddd;
    color: #8c5b01;
}